-i https://pypi.org/simple
alembic==1.18.1; python_version >= '3.10'
annotated-doc==0.0.4; python_version >= '3.8'
annotated-types==0.7.0; python_version >= '3.8'
anthropic==0.76.0; python_version >= '3.9'
anyio==4.12.1; python_version >= '3.9'
babel==2.17.0; python_version >= '3.8'
beautifulsoup4==4.14.3; python_full_version >= '3.7.0'
blis==1.3.3; python_version < '3.15' and python_version >= '3.9'
boto3==1.42.34; python_version >= '3.9'
botocore==1.42.34; python_version >= '3.9'
cachetools==6.2.5; python_version >= '3.9'
catalogue==2.0.10; python_version >= '3.6'
certifi==2026.1.4; python_version >= '3.7'
charset-normalizer==3.4.4; python_version >= '3.7'
click==8.3.1; python_version >= '3.10'
cloudpathlib==0.23.0; python_version >= '3.9'
confection==0.1.5; python_version >= '3.6'
courlan==1.3.2; python_version >= '3.8'
cssselect==1.3.0; python_version >= '3.9'
cymem==2.0.13; python_version < '3.15' and python_version >= '3.9'
dateparser==1.2.2; python_version >= '3.8'
deprecated==1.3.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
distro==1.9.0; python_version >= '3.6'
docstring-parser==0.17.0; python_version >= '3.8'
fastapi==0.128.0; python_version >= '3.9'
feedfinder2==0.0.4
feedparser==6.0.12; python_version >= '3.6'
filelock==3.20.3; python_version >= '3.10'
google-ai-generativelanguage==0.6.15; python_version >= '3.7'
google-api-core[grpc]==2.29.0; python_version >= '3.7'
google-api-python-client==2.188.0; python_version >= '3.7'
google-auth==2.47.0; python_version >= '3.8'
google-auth-httplib2==0.3.0; python_version >= '3.7'
google-generativeai==0.8.6; python_version >= '3.9'
googleapis-common-protos==1.72.0; python_version >= '3.7'
greenlet==3.3.1; python_version >= '3.10'
grpcio==1.76.0; python_version >= '3.9'
grpcio-status==1.71.2; python_version >= '3.9'
h11==0.16.0; python_version >= '3.8'
htmldate==1.9.4; python_version >= '3.8'
httpcore==1.0.9; python_version >= '3.8'
httplib2==0.31.2; python_version >= '3.6'
httptools==0.7.1; python_version >= '3.9'
httpx==0.28.1; python_version >= '3.8'
idna==3.11; python_version >= '3.8'
jieba3k==0.35.1
jinja2==3.1.6; python_version >= '3.7'
jiter==0.12.0; python_version >= '3.9'
jmespath==1.1.0; python_version >= '3.9'
joblib==1.5.3; python_version >= '3.9'
justext==3.0.2
limits==5.6.0; python_version >= '3.10'
lxml[html-clean]==6.0.2; python_version >= '3.8'
lxml-html-clean==0.4.3
mako==1.3.10; python_version >= '3.8'
markupsafe==3.0.3; python_version >= '3.9'
murmurhash==1.0.15; python_version < '3.15' and python_version >= '3.6'
newspaper3k==0.2.8
nltk==3.9.2; python_version >= '3.9'
numpy==2.4.1; python_version >= '3.11'
openai==2.15.0; python_version >= '3.9'
packaging==26.0; python_version >= '3.8'
pillow==12.1.0; python_version >= '3.10'
preshed==3.0.12; python_version < '3.15' and python_version >= '3.6'
proto-plus==1.27.0; python_version >= '3.7'
protobuf==5.29.5; python_version >= '3.8'
psycopg2-binary==2.9.11; python_version >= '3.9'
pyasn1==0.6.2; python_version >= '3.8'
pyasn1-modules==0.4.2; python_version >= '3.8'
pydantic==2.12.5; python_version >= '3.9'
pydantic-core==2.41.5; python_version >= '3.9'
pydantic-settings==2.12.0; python_version >= '3.10'
pyparsing==3.3.2; python_version >= '3.9'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
python-dotenv==1.2.1; python_version >= '3.9'
pytz==2025.2
pyyaml==6.0.3; python_version >= '3.8'
regex==2026.1.15; python_version >= '3.9'
requests==2.32.5; python_version >= '3.9'
requests-file==3.0.1
resend==2.9.0; python_version >= '3.8'
rsa==4.9.1; python_version >= '3.6' and python_version < '4'
s3transfer==0.16.0; python_version >= '3.9'
setuptools==80.10.1; python_version >= '3.9'
sgmllib3k==1.0.0
six==1.17.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
slowapi==0.1.9; python_version >= '3.7' and python_version < '4.0'
smart-open==7.5.0; python_version >= '3.9' and python_version < '4.0'
sniffio==1.3.1; python_version >= '3.7'
soupsieve==2.8.3; python_version >= '3.9'
spacy==3.8.11; python_version < '3.15' and python_version >= '3.9'
spacy-legacy==3.0.12; python_version >= '3.6'
spacy-loggers==1.0.5; python_version >= '3.6'
sqlalchemy==2.0.46; python_version >= '3.7'
srsly==2.5.2; python_version < '3.15' and python_version >= '3.9'
starlette==0.50.0; python_version >= '3.10'
tenacity==9.1.2; python_version >= '3.9'
thinc==8.3.10; python_version >= '3.10' and python_version < '3.15'
tinysegmenter==0.3
tld==0.13.1; python_version >= '3.7'
tldextract==5.3.1; python_version >= '3.10'
tqdm==4.67.1; python_version >= '3.7'
trafilatura==2.0.0; python_version >= '3.8'
typer-slim==0.21.1; python_version >= '3.9'
typing-extensions==4.15.0; python_version >= '3.9'
typing-inspection==0.4.2; python_version >= '3.9'
tzlocal==5.3.1; python_version >= '3.9'
uritemplate==4.2.0; python_version >= '3.9'
urllib3==2.6.3; python_version >= '3.9'
uvicorn[standard]==0.40.0; python_version >= '3.10'
uvloop==0.22.1; python_full_version >= '3.8.1'
wasabi==1.1.3; python_version >= '3.6'
watchfiles==1.1.1; python_version >= '3.9'
weasel==0.4.3; python_version >= '3.7'
websockets==16.0; python_version >= '3.10'
wrapt==2.0.1; python_version >= '3.8'
